.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #fff;
  border-bottom: 2px solid #333;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin: 0;
  color: #333;
}

#patient-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0px 10px 0px;
}

#patient-list li {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

#patient-list li:hover {
  background-color: #f0f0f0;
}

#patient-details {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

#patient-details p {
  margin-bottom: 10px;
}

#patient-details button {
  margin-bottom: 20px;
}

#search-inputs input {
  width: 80%;
  max-width: 300px;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 20px auto;
  box-sizing: border-box;
}

#patient-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
}

#patient-list li:last-child {
  border-bottom: none;
}

body {
  font-family: Arial, sans-serif;
}

#back-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  float: right;
}

#back-button:hover {
  background-color: #555;
}

#patient-name {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #333;
}

#doctor-details {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

#doctor-details h4 {
  margin-top: 0;
}

#doctor-details p {
  margin: 5px 0;
}

#doctor-details strong {
  font-weight: bold;
}

#doctor-details span {
  color: #333;
}

#patient-tests {
  margin-top: 20px;
}

#patient-tests h4 {
  margin-top: 0;
}

#tests-list {
  padding: 0;
  margin: 0;
}

#tests-list li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#tests-list li:last-child {
  border-bottom: none;
}

#processing-message {
  display: none;
  margin-top: 20px;
  font-size: 16px;
}

#selected-file {
  display: none;
  margin-left: 10px;
}

.hidden-file-input {
  display: none;
}

#search-link-name,
#search-link-token {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

#upload-container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
  max-width: 300px;
  margin: 0 auto;
}

#upload-container {
  margin-top: 20px;
}

#upload-form {
  margin-bottom: 20px;
}

#upload-label {
  font-size: 16px;
  margin-bottom: 10px;
}

#csv-file {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 14px;
}

#upload-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#upload-button:hover {
  background-color: #0056b3;
}

#csv-format {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

#csv-format h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

#csv-format p {
  font-size: 14px;
  margin-bottom: 5px;
}
